@model IEnumerable<Real_Estate_Services.Models.Sites>

@{
    ViewData["Title"] = "All Sites";
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}


<div class="container" style="margin-top: 130px;">
<p>
    <a asp-action="Create" class="btn btn-primary">Add New Site</a>
</p>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Site Name</th>
            <th>Category</th>
            <th>Address</th>
            <th>Description</th>
            <th>Images</th>
            <th>Brochure</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var site in Model)
        {
            <tr>
                <td>@site.Id</td>
                <td>@site.SiteName</td>
                <td>@site.Category</td>
                <td>@site.Address</td>
                <td>@site.Description</td>
                <td>
                    @if (!string.IsNullOrEmpty(site.Image1))
                    {
                        <img src="@site.Image1" alt="Site Image" width="80" class="img-thumbnail" />
                    }
                    @if (!string.IsNullOrEmpty(site.Image2))
                    {
                        <img src="@site.Image2" alt="Site Image" width="80" class="img-thumbnail" />
                    }
                    @if (!string.IsNullOrEmpty(site.Image3))
                    {
                        <img src="@site.Image3" alt="Site Image" width="80" class="img-thumbnail" />
                    }
                    @if (!string.IsNullOrEmpty(site.Image4))
                    {
                        <img src="@site.Image4" alt="Site Image" width="80" class="img-thumbnail" />
                    }
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(site.Brochure))
                    {
                        <a href="@site.Brochure" target="_blank" class="btn btn-sm btn-info">View</a>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@site.Id" class="btn btn-sm btn-warning">Edit</a>
                    <a asp-action="Details" asp-route-id="@site.Id" class="btn btn-sm btn-success">Details</a>
                    <a asp-action="Delete" asp-route-id="@site.Id" class="btn btn-sm btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>